@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  .btnToggleNav{
  	display: block;
  }
}
@media screen and (max-width: 998px) {
  .nextHr{
  		display: none;
  }
  .ourservice .boxIndex h2{
		font-weight: 400;
		color:#FFF;
		margin:auto;
		background-color: #BC4244FF;
		border-radius: 10px;
		font-size: 20px;
		line-height: 30px;
		max-width: 100%;
		margin-top:10%;
	}
}