.headerDafault{
	margin-top: 30px;
}
.logos{
	float: left;
	max-width: 100%;
}
.nav-menu{
	float: right;
	max-width: 100%;
}
.logoName{
	font-size: 35px;
	font-weight: 350;	
	color:#9fa3a5;
}
.extract{
	font-size: 15px;
	font-weight: 100;
}
.backgroundMenu{
	background-color: #e87c6e;
	width: auto;
	height: auto;
	border-radius: 10px;
}
.backgroundMenu li{
	color: #FFFFFFFF;
	font-size: 18px;
	margin: auto;
	line-height: 50px;
}
.backgroundMenu li a{
	color: #FFFFFFFF;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-weight: 450;
}
.backgroundMenu li a:hover{
	color:#e2dddd;
}
.btnToggleNav{
	float: right;
}
.hidden{
	display:none;
}
.icon-toggle{
	background-color: #377dff;
}
#navbarNav ul{
	background-color:#e87c6e;
}
#navbarNav ul li{
	border-bottom: 1px solid #d6d2d2;
	cursor: pointer;

}
#navbarNav ul li a{
	color: #FFFFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 450;
	margin-left: 10px; 
}
hr{
	margin-top: 10px;
}
.titleIntro{
	margin:auto;
}
.titleIntro .character{
	text-align: center;
	font-style: italic;
}
.nextHr{
	margin-top: 70px;
}
.ourservice{
	margin:auto;
}
.ourservice .boxIndex{
	text-align: center;
}
.ourservice .boxIndex h2{
	font-weight: 400;
	color:#FFF;
	max-width: 50%;
	margin:auto;
	background-color: #BC4244FF;
	border-radius: 10px;
	font-size: 20px;
	line-height: 30px;
	margin-top: -10%;
}